In [63]:
import warnings
warnings.filterwarnings('ignore')

In [64]:
print('Topic: Student Performace Classifier\n')

print('Step1: Importing the libraries\n')

import pandas as pd

print('Step2: Loading the dataset\n')

df = pd.read_csv('student_performance_dataset.csv')

df

Topic: Student Performace Classifier

Step1: Importing the libraries

Step2: Loading the dataset

,Assignment_Score,Day_to_Day_Evaluation,Seminar_Performance,Viva_Voce,Mid_Sem_Average_Marks,Performance_Level
0,3,4,0,5,6,Needs Improvement
1,4,0,3,0,3,Needs Improvement
2,2,0,0,2,12,Needs Improvement
3,4,0,5,0,19,Average Performer
4,4,0,0,4,0,Needs Improvement
...,...,...,...,...,...,...
95,3,2,3,1,16,Average Performer
96,3,1,5,2,19,Average Performer
97,4,3,3,1,11,Average Performer
98,0,2,5,0,17,Average Performer
99,4,5,2,4,2,Needs Improvement

In [65]:
df.Performance_Level.unique()

array(['Needs Improvement', 'Average Performer', 'High Performer'],
      dtype=object)

In [66]:
df[df['Performance_Level'] == 'High Performer']

,Assignment_Score,Day_to_Day_Evaluation,Seminar_Performance,Viva_Voce,Mid_Sem_Average_Marks,Performance_Level
32,3,5,2,4,19,High Performer
71,5,3,3,4,19,High Performer

In [67]:
df[df['Performance_Level'] == 'Average Performer'].head()

,Assignment_Score,Day_to_Day_Evaluation,Seminar_Performance,Viva_Voce,Mid_Sem_Average_Marks,Performance_Level
3,4,0,5,0,19,Average Performer
6,2,2,3,5,13,Average Performer
7,2,2,3,1,15,Average Performer
8,2,0,5,1,13,Average Performer
9,4,2,1,5,11,Average Performer

In [68]:
df[df['Performance_Level'] == 'Needs Improvement'].head()

,Assignment_Score,Day_to_Day_Evaluation,Seminar_Performance,Viva_Voce,Mid_Sem_Average_Marks,Performance_Level
0,3,4,0,5,6,Needs Improvement
1,4,0,3,0,3,Needs Improvement
2,2,0,0,2,12,Needs Improvement
4,4,0,0,4,0,Needs Improvement
5,1,3,1,1,7,Needs Improvement

In [69]:
print('Topic: Student Performace Classifier\n')

print('Step1: Importing the libraries\n')

import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

print('Step2: Loading the dataset\n')

df = pd.read_csv('student_performance_dataset.csv')

print('Step3: Data preparation\n')

encoder = OrdinalEncoder()

print(df.Performance_Level.unique(), '\n')

df['Performance_Level'] = encoder.fit_transform(df[['Performance_Level']])

print(df.Performance_Level.unique(), '\n')

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

print('Step4: Splitting the dataset\n')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

print('Step5: Model creation\n')

model = LogisticRegression()

print('Step6: Model training\n')

model.fit(X_train, y_train)

print('Step spl: Model score')

print('Model training score: ', model.score(X_train, y_train))

print('Model testing score: ', model.score(X_test, y_test), '\n')

y_predicted = model.predict(X_test[:1])

d = {0.0: 'Average Performer', 1.0: 'High performer', 2.0: 'Needs Improvement'}

d[y_predicted[0]]

Topic: Student Performace Classifier

Step1: Importing the libraries

Step2: Loading the dataset

Step3: Data preparation

['Needs Improvement' 'Average Performer' 'High Performer']

[2. 0. 1.]

Step4: Splitting the dataset

Step5: Model creation

Step6: Model training

Step spl: Model score
Model training score:  1.0
Model testing score:  1.0

'Average Performer'

## Model

In [70]:
assi_score = int(input('Enter assignment score (1 to 5): ')) 
day_2_day = int(input('Enter day to day evaluation score (1 to 5): ')) 
sem = int(input('Enter seminar performance score (1 to 5): ')) 
viva = int(input('Enter viva voce score (1 to 5): ')) 
mid_avg = int(input('Enter mid average score (1 to 20): '))

scores = model.predict([[assi_score, day_2_day, sem, viva, mid_avg]])


d = {0.0: 'Average Performer', 1.0: 'High performer', 2.0: 'Needs Improvement'}

d[scores[0]]

Enter assignment score (1 to 5):  5
Enter day to day evaluation score (1 to 5):  5
Enter seminar performance score (1 to 5):  5
Enter viva voce score (1 to 5):  5
Enter mid average score (1 to 20):  15

'High performer'